/* index.html css*/

html, body {
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100%;
}

.login-icon {
    padding-top: 50px;
    margin: auto;
}

.user-icon {
    height: 40px;
    width: 40px;
}


.login-button {
    background-image: url('/CCCAPDEV-MP1-Resume/icons/user.svg');
}

.intro {
    width: 100%;
    height: 100%;
    padding: 150px 10px;
    margin: auto;
}

.intro-page {
    padding-top: 70px;
}


h1.hello {
    color: #ffa200;
    font-weight: 800;
    font-size: 108px;
}

h4.desc {
    font-weight: 400;
    font-size: 36px;
}

.about-me-info {
    background-color:#212121;
    height: 750px;
    display: block;
}

section.about-me h2, section.education h2, section.organizations h2, .my-craft {
    color: #ffa200;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 15px;
}

.box {
    display: block;
    position: relative;
    border-radius: 15px;
    top: -170px;
    background-color: #191919;
    padding-bottom: 60px;
}

.skills{
    border: 2px solid #ffa200;
    border-radius: 15px;
}

.icon {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.front-end {
    border-right: 2px solid #ffa200;
    border-left: 2px solid #ffa200;
}

.skill-title {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.skill {
    padding: 60px 50px;
}

.skill-desc {
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.list-title {
    margin-bottom: 10px;
    color: #ffa200;
}

.tools {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #ffa200;
}

.craft-card {
    border: 2px solid #ffa200;
    border-radius: 15px;
    height: 250px;
    width: 200px;
    margin: 20px;
}

.craft-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100%;
}

.crafts {
    position: relative;
    top: -100px;

}

.my-crafts-box {
    justify-content: center;
    padding: auto;
    margin: auto;
}

footer {
    display: block;
    width: auto;
    height: 350px;
    background-color: #212121;
    padding-top: 40px;
    margin-top: 80px;
    justify-content: center;
}

.footercontainer {
    text-align: center;
    margin: 20px auto;
    justify-content: center;
}

.link-icons {
    justify-content: center;
    margin-top: 40px;
}

.linkicon {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 8px;
    margin: 15px;
}

.linkicon:hover, .linkicon:active {
    border-color: #ffa200;
    background-color: #ffa200;

}



.copyright {
    font-size: 14px;
    padding-top: 45px;
}

/* dashboard.html css*/

.dash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.educ-add-content, .org-add-content{
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: 40px;
    background-color: #191919;
    color: #ffffff;

}

.list-add-div {
    margin-top: 35px;
}

.about-me-input, .artist-skill-desc, .frontend-skill-desc, .entre-skill-desc,
.linkinput{
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #191919;
    color: #c7c7c7;
    padding: 15px 20px;
}

.educ-list, .org-list {
    margin: 15px 0px;
}

.educ-item, .org-item {
    width: 85%;
    background-color: #191919;
    border: none;
    border-bottom: 1px solid #fff;
    color: #c7c7c7;
}

.educ-item:focus, .org-item:focus {
    border-bottom: 1px solid #ffa200;
    outline: none;
    color: #fff;
}

.list-delete-btn, .list-check-btn {
    padding: 0px 2px;
    margin: 0px 3px;
}

.list-delete-btn:active {
    outline: none !important;
}



.artist-list, .frontend-list, .entre-list {
    font-size: 12px;
    padding: 10px 0px !important;
    color: #c7c7c7 !important;
    text-align: center;
}

.artist-skill-desc, .frontend-skill-desc, .entre-skill-desc{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.educ-add-content:focus, .org-add-content:focus, .about-me-input:focus,
.artist-skill-desc:focus, .frontend-skill-desc:focus, .entre-skill-desc:focus,
.artist-list:focus, .frontend-list:focus, .entre-list:focus, .skill-input:focus,
.linkinput:focus {
    background-color: #191919;
    border-color: #ffa200;
    color: #ffffff !important;
    box-shadow: 0 0 7px #fc9403;
}

.tools-container {
    padding: 0px 18px;
    margin: 0px 15px 0px 30px;
}

.artist-tools, .frontend-tools, .entre-tools {
    text-align: left;
}

.tool {
    margin: 10px 0px;
}

.art-item, .dev-item, .entre-item {
    width: 70%;
    color: #c7c7c7;
    background-color: #191919;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}

.art-item:focus, .dev-item:focus, .entre-item:focus {
    border-bottom: 1px solid #ffa200;
    outline: none;
    color: #fff;
}

.delete-btn, .check-btn {
    padding: 0px 2px;
}

.about-me-btns {
    margin-top: 15px;
    margin-right: 10px;
}

.btn {
    border-radius: 20px;
    font-weight: 600;
}

.educ-add-btn, .org-add-btn {
    margin-right: 25px;
    height: 40px;
    width: 40px;
    padding: 0%;
}

.educ-container{
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #ffa200 !important;
    border: none;
    
}

.btn-primary:focus, .btn-primary:hover:enabled {
    box-shadow: 0 0 7px #fc9403;
}



.skills-box {
    margin-top: 80px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    
}

.artist-desc-btns, .frontend-desc-btns, .entre-desc-btns {
    margin-right: 40px;
    margin-top: 10px;
}

.list-edit-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}

.artist-list, .frontend-list, .entre-list, .skill-input{
    width: 80%;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #191919;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;

}

.skill-input {
    margin-right: 0px;
}

.add-tool-container {
    margin-top: 30px;
}



.title, .links-title {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.links-title {
    margin-top: 130px;
}

.dashboard-title {
    margin-top: 20px;
    margin-bottom: 70px;
    font-weight: 800;
    color: #ffa200;
    font-size: 75px;
    text-align: center;
}

.tools-title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}


.artist-add-btn, .entre-add-btn, .frontend-add-btn{
    margin-right: 55px;
    height: 30px;
    width: 30px;
    padding: 0%;
    margin-top: 5px;

}

.skills-save-btn {
    margin-top: 10px;
    margin-bottom: 0px;
}

.my-craft-title {
    margin-top: 150px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.crafts-box {
    margin-top: 20px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5px;
}

.dashboard-box {
    border-radius: 30px;
    padding: 60px 100px;
    margin: 100px auto;
    box-shadow: 0 0 20px #fc9403;
    width: 100%;
}

.links-box {
    border: 2px solid #fff;
    border-radius: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    padding: 15px 40px;
    margin-bottom: 10px;
}

.linkcontainer {
    margin: 18px 0px;
}

.linkinput {
    margin-left: 20px;
}

.linkscontainer {
    border-radius: 20px;
    margin: auto;
    width: 60%;
    margin-bottom: 60px;
    padding: 0%;
}

.navcontainer {
    margin-top: 0px;
    margin-bottom: 20px;
}

.navibtn {
    justify-content: center;
    padding: auto;
    margin: 6px;
    border: 2px solid #ffa200 !important;
    background-color: #191919 !important;
}

.navibtn:hover{
    background-color:#ffa200 !important;
}

.navi-btns {
    margin-bottom: 60px;
    margin-left: 80%;
}

/*edit.html css*/

.logincontainer {
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 200px;
}

.loginbox {
    border: 2px solid #ffa200;
    border-radius: 20px;;
    justify-content: center;
    padding: auto;
    margin: auto;
    width: 40%;
    height: 400px;

}

.logintitle {
    font-weight: 700;
    text-align: center;
    padding-top: 45px;
}

.formcontainer {
    width: 100%;
    margin: 40px auto;
    padding: auto;


}

.emailform, .passwordform {
    margin-top: 30px;
    text-align: center;
}

.loginbtncontainer {
    
    margin: 70px auto 40px auto;
    padding: auto;
    text-align: center;
}

.loginbtn {
    
    background-color: #ffa200;
    border-radius: 20px;
    border: none;
    width: 93%;
    height: 40px;
    color: #fff;
}

.loginbtn:hover {
    box-shadow: 0 0 10px #ffa200;
    color: #fff;
}

.email, .password {
    background-color: #333333;
    border-radius: 20px;
    border: none;
    width: 93%;
    height: 40px;
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
    outline: none;
}

.email:focus, .password:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 5px #ffa200;
}

.closeicon {
    margin-top: 10px;
}

.errorDiv {
    width: auto;
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
   
}